<%# load up google map library with server key %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=@map_api_key%>&callback=" defer></script>

<%= live_react_component("Components.GoogleMapWrapper", %{}, id: "google-map-wrapper-1") %>
